]
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#top, #bottom, #left, #right {
	background-color:floralwhite;
	position: fixed;
    z-index:1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }