]
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    opacity: 0.5;
}
#top, #bottom, #left, #right {
	background-color:floralwhite;
	position: fixed;
    z-index:1;
}
#left, #right {
    top: 0; bottom: 0;
    width: 5px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
    left: 0; right: 0;
    height: 5px;
}
#top { top: 0; }
#bottom { bottom: 0; }

.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}
.button {
/*   position: absolute;
    top: 50%;
    z-index: 2;
    background-color: floralwhite;
    padding: 32px 16px;
    color: black;
    border-radius: 12px;
    border: 2px solid #ffffff;
    */
    position: absolute;
    top: 45%;
    z-index: 2;
    background-color: transparent;
    opacity: 0.7;
    border: 2px solid #e7e7e7;
    color: floralwhite;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: floralwhite;
    opacity:1;
    color: black
}
.videoBlocker {
    position: relative;
    width: 100%;
	height: 100%;
    z-index: 1;
}
.body
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
body
{
    overflow:hidden;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom 0;
    min-width: 100%;
    min-height:100%;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  pointer-events: none;
}