body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display {
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
}

video {
  position: fixed;
  /*transform: scaleX(-1);*/
    /* Changing width and height messes up the tracking accuracy. I think this is because the native resolution of the video/canvas is 680x480 and changing it spaces out the pixels the canvas will track with */
 /* width: 100%;
  height: 100%; */
}

canvas {
  position: fixed;
  pointer-events: none; /* Prevents canvas from intercepting clicks */
  /*transform: scaleX(-1); */
 /* width: 100%;
  height: 100%; */
}

.ui {
  margin-top: 10px;
  width: 640px;
  display: none;
  justify-content: space-between;
  visibility: hidden;
}

 .ui .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 0 15px;
    flex-grow: 1;
    visibility: hidden;
  }

  .ui .controls p {
    margin-top: 0;
  }

  .ui #color {
    box-sizing: border-box;
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin-left: 10px;
  }


.controls div {
  display: none;
  visibility: hidden;
}

.controls div label {
  width: 25%;
}

.controls div input {
  width: 75%;
}
#top, #bottom, #left, #right {
	background-color:floralwhite;
	position: fixed;
    z-index:1;
}
#left, #right {
    top: 0; bottom: 0;
    width: 5px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
    left: 0; right: 0;
    height: 5px;
}
#top { top: 0; }
#bottom { bottom: 0; }
